.header {
  background: var(--primary-color);
  color: var(--primary-text-color);
  height: 54px;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  cursor: pointer;
}

.fa-hamburger {
  margin-left: 0.25rem;
}

.fa-hamburger,
.fa-bars,
.fa-times {
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

.header__menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.header__menu-link {
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.header__menu-link:hover {
  background-color: var(--primary-dark-color);
  transition: all 0.2s ease-out;
}

.header__menu-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 54px;
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 999;
  }

  .header__menu--active {
    background: var(--primary-color);
    width: 100%;
    left: 0%;
    transition: all 0.5s ease-in-out;
  }

  .header__menu-link {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .header__menu-link:hover {
    background-color: var(--primary-dark-color);
    border-radius: 0;
  }

  .header__menu-icon {
    display: block;
    cursor: pointer;
  }
}
