 
  .sidebar {
    /* border: solid 1px green; */
    height: 100%;
  }

  .sidebar__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .sidebar__menu-link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secondary-gray-color);
    
  }
    
  @media screen and (max-width: 600px) {
    .sidebar__menu {
      /* border: solid 1px red; */
      flex-direction: row;
      justify-content: center;
    }
  }
  