.stats {
  padding-top: 40px;
}

.container--stats {
  text-align: center;
}

.stats__all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.stats__number {
  font-size: 2rem;
}

.stats__heading {
  max-width: 500px;
  margin: 0 auto;
}

.stats__icon {
  color: var(--primary-dark-color);
}

@media screen and (max-width: 900px) {
  .stats {
    padding-top: 0px;
  }
}
